---
import CompanyIcon from "../Icons/CompanyIcon.astro"
---

<div id="experiencia" class="mx-auto mt-36 scroll-mt-[100px]">
    <h2 class="dark:text-darkModeOrange text-lightModeOrange text-5xl font-bold text-center">Experiencia</h2>
    <ol class="mt-24 relative border-e border-darkModeColor dark:border-[#FF8C39] max-w-[1166px] flex flex-col">
        <li class="mb-10 me-2">
            <div class="absolute w-3 h-3 rounded-full mt-1.5 -end-1.5 border border-darkModeColor dark:border-[#FF8C39] dark:bg-[#FF8C39] bg-darkModeColor"></div>
            <article class="h-auto max-w-[914px] mr-[252px] flex-col flex gap-y-6 duration-200 dark:hover:bg-lightModeExperienceHover dark:hover:bg-opacity-[7%] px-7 py-10 rounded-[20px] hover:bg-darkModeOrange hover:bg-opacity-[90%] hover:shadow-[0_4px_50px_0px_rgba(0,0,0,0.4)]">
                <section class="flex justify-between items-center">
                    <h3 class="dark:text-darkModeOrange text-lightModeBlue text-2xl font-bold">Proyecto Freelance</h3>
                    <p class="dark:text-darkModeOrange text-lightModeBlue text-base font-bold">Diciembre 2023 - Enero 2024</p>
                </section>
                <section class="inline-flex items-center gap-3">
                    <CompanyIcon class="dark:fill-darkModeOrange fill-lightModeBlue"/>
                    <p class="dark:text-white text-darkModeColor font-bold text-base">El Arte de Forjar el Hierro</p>
                </section>
                <section class="flex-col flex gap-y-2">
                    <p class="dark:text-white text-darkModeColor text-base font-bold leading-[22px]">
                        Creación de diseño de la página web, así como el desarrollo de los componentes realizados en el diseño de este mismo, haciendo uso de NextJs para el Front-end y Drupal 10 Headless para el Backend.
                    </p>
                </section>
            </article>
        </li>
        <li class="mb-10 me-2">
            <div class="absolute w-3 h-3 rounded-full mt-1.5 -end-1.5 border border-darkModeColor dark:border-[#FF8C39] dark:bg-[#FF8C39] bg-darkModeColor"></div>
            <article class="h-auto max-w-[914px] mr-[252px] flex-col flex gap-y-6 duration-200 dark:hover:bg-lightModeExperienceHover dark:hover:bg-opacity-[7%] px-7 py-10 rounded-[20px] hover:bg-darkModeOrange hover:bg-opacity-[90%] hover:shadow-[0_4px_50px_0px_rgba(0,0,0,0.4)]">
                <section class="flex justify-between items-center">
                    <h3 class="dark:text-darkModeOrange text-lightModeBlue text-2xl font-bold">Intern Web Developer</h3>
                    <p class="dark:text-darkModeOrange text-lightModeBlue text-base font-bold">Marzo 2022 - Noviembre 2023</p>
                </section>
                <section class="inline-flex items-center gap-3">
                    <CompanyIcon class="dark:fill-darkModeOrange fill-lightModeBlue"/>
                    <p class="dark:text-white text-darkModeColor font-bold text-base">Decimo Technology Solutions</p>
                </section>
                <section class="flex-col flex gap-y-2">
                    <p class="dark:text-white text-darkModeColor text-base font-bold leading-[22px]">
                        Capacitación en las tecnologías utilizadas en la empresa. Desarrollo de los componentes asignados en el proyecto de la página principal de la empresa, haciendo uso de GatsbyJs para el Front-end y Drupal 9 para el Back-end.
                    </p>
                    <p class="dark:text-white text-darkModeColor text-base font-bold leading-[22px]">
                        Desarrollo del portal externo, así como otras funcionalidades en el TMS (Talent Management System) con enfoque Open Source, utilizando Drupal 10.
                    </p>
                </section>
            </article>
        </li>
    </ol>
</div>