---
import DarkModeIcon from "../Icons/DarkModeIcon.astro"
import LightModeIcon from "../Icons/LightModeIcon.astro"
import SystemThemeIcon from "../Icons/SystemThemeIcon.astro"

const themePage = [
    {
        icons: LightModeIcon,
        mode: "Light",
    },
    {
        icons: DarkModeIcon,
        mode: "Dark",
    },
    {
        icons: SystemThemeIcon,
        mode: "System",
    }
]
---

<div class="relative ml-1 mr-1">
    <button id="themeToggleButton" class="appearance-none border-none flex hover:scale-[1.3] transition">
        <LightModeIcon id="light" class="themeIcon size-5 transition-all dark:fill-white fill-lightTagIconColor"/>
        <DarkModeIcon id="dark" class="themeIcon absolute size-5 transition-all dark:fill-white fill-lightTagIconColor"/>
        <SystemThemeIcon id="system" class="themeIcon absolute size-5 transition-all dark:fill-white fill-lightTagIconColor dark:stroke-white stroke-lightTagIconColor"/>
    </button>
    <div id="themeMenu" class="absolute hidden scale-80 top-[48px] right-0 dark:bg-lightModeExperienceHover dark:bg-opacity-[10%] rounded border dark:border-darkModeOrange border-lightTagIconColor dark:border-opacity-100 backdrop-blur-sm bg-darkModeColor bg-opacity-[90%] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.3)] p-[3px]">
        <ul>
            {
                themePage.map(({icons: Icons, mode}) =>(
                    <li class="themesMenuOptions flex items-center gap-2 px-3 py-3 hover:bg-lightTagIconColor/15 dark:hover:bg-orange-400/50 rounded-sm cursor-pointer transition-all">
                        <Icons class="dark:fill-white dark:stroke-white fill-lightTagIconColor stroke-lightTagIconColor size-4 iconsStyle"/>
                        <p class="dark:text-white text-lightTagIconColor font-bold">{mode}</p>
                    </li>
                ))
            }
        </ul>
    </div>
</div>

<style>
    #themeMenu.open {
        display: inline;
        animation: scale-up-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    @keyframes scale-up-center {
        from {
            transform: scale(0.8);
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    li > p, .iconsStyle {
        transition: all ease-in-out 250ms;
    }

    li:hover > p {
        color: white;
    }

    li:hover > .iconsStyle {
        fill: white;
        stroke: white;
    }
 </style>

<script is:inline>
    let remove = null;
    const matchMedia = window.matchMedia("(prefers-color-scheme: dark)");
    const menuThemes = document.getElementById("themeMenu");

    const getThemePreference = () => {
        if (typeof localStorage !== "undefined") {
            return localStorage.getItem("theme") ?? "system";
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
    }

    const updateIconTheme = (themePreference) => {
        document.querySelectorAll(".themeIcon").forEach((element) => {
            element.style.scale = element.id === themePreference ? "1" : "0";
        })
    }

    const updateTheme = () => {
        if (remove != null) {
            remove();
        }
        matchMedia.addEventListener("change", updateTheme);
        remove = () => {
            matchMedia.removeEventListener("change", updateTheme);
        }

        const themePreference = getThemePreference();
        const isThemeDark = themePreference === "dark" || (themePreference === "system" && matchMedia.matches)
        updateIconTheme(themePreference);
        document.documentElement.classList[isThemeDark ? "add" : "remove"]("dark")
    }

    updateTheme();

    document.addEventListener("click", () => menuThemes.classList.remove("open"));

    document.getElementById("themeToggleButton").addEventListener("click", (e) => {
        e.stopPropagation();
        const isClosed = !menuThemes.classList.contains("open");
        menuThemes.classList[isClosed ? "add" : "remove"]("open");
    })

    document.querySelectorAll(".themesMenuOptions").forEach((element) => {
        element.addEventListener("click", (e) => {
            localStorage.setItem("theme", e.target.innerText.toLowerCase().trim());
            updateTheme();
        })
    })
</script>