---
import { getI18n } from "@src/i18n";
import Card from "./Card.astro"

const {currentLocale} = Astro;
const i18n = getI18n({currentLocale});
---

<section id="proyectos" class="mt-16 mb-5 scroll-mt-[100px]">
    <h2 class="dark:text-darkModeOrange text-lightModeOrange text-5xl font-bold text-center">{i18n.PROJECTS.TITLE}</h2>
    <Card/>
</section>