---
import RightSlider from "./RightSlider.astro"
import LeftSlider from "./LeftSlider.astro"
import { getI18n } from "@src/i18n";

const {currentLocale} = Astro;
const i18n = getI18n({currentLocale});
---

<section id={i18n.SECTIONS_ID.SKILLS_AND_TOOLS_ID} class="my-20 scroll-mt-[100px] relative z-[-1]">
    <h2 class="dark:text-darkModeOrange text-lightModeOrange text-5xl font-bold text-center">{i18n.SKILLS_AND_TOOLS.TITLE}</h2>
    <div>
        <RightSlider/>
        <hr class="dark:border-darkModeOrange border-darkModeColor border-2 my-10 mx-24"/>
        <LeftSlider/>
    </div>
</section>